<!-- index.html -->
{% extends "base.html" %}

{% block title %}الصفحة الرئيسية{% endblock %}

{% block content %}
  
    <!-- Container -->
    <section class="hero-section">
        <div class="section-content">
            <div class="hero-subtitle">بسم الله الرحمن الرحيم</div>
            <h1>الحـــــوطية</h1>
            {% if user %}
            <p>مرحباً {{ user }}!</p>
            <p><a href="/logout" >تسجيل الخروج</a></p>
            {% else %}
            <p><a href="/login">تسجيل الدخول</a></p>
            {% endif %}
        </div>
    </section>
{% endblock %}


    
